:host {
  --cx-color-primary:  #0066cc;
  --cx-color-text:  #333333;
  --cx-color-medium:  #999999;
  --cx-color-light:  #f5f5f5;
  --cx-color-background:  #ffffff;
  --cx-color-inverse:  #ffffff;
  --cx-color-danger:  #dc3545;
}
