# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

cxaiaskproductaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
cxaiaskproductaddon.application-context=cxaiaskproductaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.cxaiaskproductaddon=classpath:/cxaiaskproductaddon/web/spring/cxaiaskproductaddon-web-spring.xml



cxaiaskproductaddon.javascript.paths.responsive=/responsive/common/js/cxaiaskproductaddon.js
cxaiaskproductaddon.css.paths.responsive=/responsive/common/css/cxaiaskproductaddon.css

# Change when script is updated to invalidate browser cache
cxaiaskproductaddon.script.version=2211.47.1
# Set to false if you already have font awesome icons
cxaiaskproductaddon.importFontAwesome=true
# Uncomment and set if default resolution is not returning correct values
#cxaiaskproductaddon.occ.prefix=/occ/v2/
#cxaiaskproductaddon.occ.baseUrl=

#uncomment if media are stored on a different server or aspect
#cxaiaskproductaddon.media.baseUrl=

#if you don't have public OCC endpoint set to true
cxaiaskproductaddon.occ.proxy.enabled=false

