always-auth=true
# @spartacus:registry is needed for npm install
# @cx-spartacus:registry is only needed for npm publish
# you can set environment variables or replace @spartacus:registry with your URL and credentials
@spartacus:registry=https://${RUM_NPM_REGISTRY}
@cx-spartacus:registry=https://${RUM_NPM_REGISTRY}
//${RUM_NPM_REGISTRY}:_authToken=${RUM_NPM_TOKEN}

lockfile-version=3
legacy-peer-deps=false