@use '../common-styles' as common;

:host {
  z-index: 10000;
}

.chat-btn {
  background-color: var(--cxai-primary);
  color: var(--cxai-primary-text);
  @include common.background-glow;
  position: fixed;
  display: grid;
  place-content: center;
  right: 0;
  bottom: 20%;
  width: 60px;
  aspect-ratio: 4/3;
  font-size: 20px;
  border-radius: var(--cxai-border-radius--small) 0 0 var(--cxai-border-radius--small);
  overflow: clip;
  border: var(--cxai-border--light);
  border-right: unset;

  &:hover,
  &:focus,
  &:active {
    pointer-events: auto;
    cursor: pointer;
    filter: brightness(1.1);
    background-color: var(--cxai-primary);
    border-color: var(--cxai-border-color);
    color: var(--cxai-primary-text);
    // Lighten the glow effect when active
    &:after {
      opacity: 0.35;
    }
  }
}

.chat-opened > button {
  display: none;
}

.fa-message {
  transform: rotateY(180deg);
}

.sap-icon.post::before {
  font-family: SAP-icons, SAP-Icons;
  content: '\e0ab';
  font-style: normal;
}
